/* admin.css */
body {
    background-color: #343a40; /* Fondo oscuro */
    color: white; /* Texto blanco */
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #ffc107; /* Amarillo */
}

button {
    background-color: #ffc107; /* Amarillo */
    color: #343a40;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background-color: #e0a800;
}
