{% extends 'base.html' %}
{% load static %}

{% block title %}FastFood Express{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="hero-section">
        <div class="overlay"></div>
        <div class="content">
            <h1 class="fw-bold text-warning">🍔 ¡Bienvenido a FastFood Express! 🍟</h1>
            <p class="fs-5 text-light">Disfruta de nuestras deliciosas hamburguesas, papas fritas y combos irresistibles.</p>

            <a href="{% url 'login' %}" class="btn btn-primary btn-lg mt-3">
                <i class="fas fa-sign-in-alt"></i> Iniciar sesión
            </a>
        </div>
    </div>
{% endblock %}

