{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/empleado.css' %}">
{% endblock %}

{% block content %}
    <div class="container text-center mt-5">
        <h1 class="mb-4">🧑‍🍳 Bienvenido, Empleado</h1>

        <div class="alert alert-success">
            Accede a la gestión de pedidos y control de cocina.
        </div>

        <form action="{% url 'logout' %}" method="post" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cerrar sesión</button>
        </form>
    </div>
{% endblock %}
